{% extends "base.html" %}

{% block main_content %}

<h1>Upload Internship Application</h1>

<form method="post" action="">
<p><label>Company:
    <input required type="text" name="compName"></label></p>

<p><label>Link to job application posting:
    <input required type="text" name="link"></label></p>
</label></p>

<p><label>Role:
    <select required name="role">
        <option value="">Choose</option>
        <option value="Software Engineering">Software Engineering</option>
        <option value="Data Science">Data Science</option>
        <option value="Product Management">Product Management</option>
        <option value="Program Management">Program Management</option>
        <option value="User Experience (UX/UI)">User Experience (UX/UI)</option>
    </select>
</label></p>


<p>Season:</p>
<div>
    <input type="checkbox" name="season" value ="Fall">
    <label for="fall">Fall</label>
</div>
<div>
    <input type="checkbox" name="season" value ="Winter">
    <label for="winter">Winter</label>
</div>
<div>
    <input type="checkbox" name="season" value ="Spring">
    <label for="spring">Spring</label>
</div>
<div>
    <input type="checkbox" name="season" value ="Summer">
    <label for="summer">Summer</label>
</div>


<p><label>Year:
    <select required name="year">
        <option value="">Choose</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
    </select>
</label></p>


<p>Looking for:</p>

<div>
    <input type="checkbox" name="experience" value="Freshman">
    <label for="freshman">Freshman</label>
</div>
<div>
    <input type="checkbox" name="experience" value ="Sophomore">
    <label for="sophomore">Sophomore</label>
</div>
<div>
    <input type="checkbox" name="experience" value="Junior">
    <label for="junior">Junior</label>
</div>
<div>
    <input type="checkbox" name="experience" value ="Senior">
    <label for="senior">Senior</label>
</div>


<p><input type="submit" value="Submit"></p>
</form>


{% endblock %}
