{% extends "base.html" %}

{% block main_content %}

<h1>techships.io</h1>

<h2>For students, by students.</h2>

<p>Use this database to share and keep track of any tech-related internships!</p>

<table id = "job-list" class="center">
    <thead>
        <tr>
            <th>Company</th>
            <th>Role</th>
            <th>Season</th>
            <th>Year</th>
            <th>Experience</th>
        </tr>
    </thead>
    <tbody>
        {% for internship in internships %}
        <tr data-tt="{{ internship.link }}">
            <!-- <button type="button">Favorite</button> -->
            <td>{{ internship.compName }}</td>
            <td><a href="{{ internship.link }}">{{internship.role }}</a></td>
            <td>{{ internship.season }}</td>
            <td>{{ internship.yr }}</td>
            <td>{{ internship.experience }}</td>
            <td><form class="favorite-form" method="post" action="/favorite">
                <label class="star">
                    <i class="fa fa-star"><input type="hidden" name="favbutton" value="0"></i>
                </label>
                <input type="submit" name="submit" value="favorite"/>
              </form></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}