{% extends "base.html" %}

{% block main_content %}

<style>
    .checked {
        color: orange;
    }
</style>

<h1>My saved internships</h1>

<table class="center">
    <thead>
        <tr>
            <th>Company</th>
            <th>Role</th>
            <th>Season</th>
            <th>Year</th>
            <th>Experience</th>
        </tr>
    </thead>
    <tbody class="saved-list">
        {% for internship in internships %}
        <tr>
            <td>{{ internship.compName }}</td>
            <td><a href="{{ internship.link }}">{{ internship.role }}</a></td>
            <td>{{ internship.season }}</td>
            <td>{{ internship.yr }}</td>
            <td>{{ internship.experience }}</td>
            <td><form class="favorite-form" method="post" action="/favorite">
                <label class="star">
                    <i class="fa fa-star checked"> Remove</i>
                    <input type="hidden" class="favbutton" value="0">
                </label>
                <input type="submit" name="submit" value="favorite"/>
              </form></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
