{% extends "base.html" %}

{% block main_content %}

<h1>Upload Internship Application</h1>

<form method="post" action="">
<p><label>Company:
    <input required type="text" name="compName"></label></p>

<p><label>Link to job application posting:
    <input required type="text" name="link"></label></p>
</label></p>

<p><label>Role:
    <select required name="role">
        <option value="">Choose</option>
        <option value="swe">Software Engineering</option>
        <option value="data-science">Data Science</option>
        <option value="pm">Product Management</option>
        <option value="program-management">Program Management</option>
        <option value="ux">User Experience (UX/UI)</option>
    </select>
</label></p>


<label for="season">Season: </label>
<div>
    <input type="checkbox" name="season" value ="Fall">
    <label for="fall">Fall</label>
</div>
<div>
    <input type="checkbox" name="season" value ="Winter">
    <label for="winter">Winter</label>
</div>
<div>
    <input type="checkbox" name="season" value ="Spring">
    <label for="spring">Spring</label>
</div>
<div>
    <input type="checkbox" name="season" value ="Summer">
    <label for="summer">Summer</label>
</div>

<p>Looking for:</p>

<div>
    <input type="checkbox" name="freshman">
    <label for="freshman">Freshman</label>
</div>
<div>
    <input type="checkbox" name="sophomore">
    <label for="sophomore">Sophomore</label>
</div>
<div>
    <input type="checkbox" name="junior">
    <label for="junior">Junior</label>
</div>
<div>
    <input type="checkbox" name="senior">
    <label for="senior">Senior</label>
</div>


<p><input type="submit" value="Submit">
</form>


{% endblock %}
